
body{
    background: rgb(255, 255, 255);
    margin:0;
    padding:0;

    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: 800;
}


p{
    line-height: 150%;
}

.icon{
    width:40px;
}

img{
    width: 80%;
}

.header{
    background-image: url('background.jpg');
    background-color: rgba(0, 0, 0, 0.66);
    background-blend-mode: darken;
    margin: 0px;
    /*height: 100vh;*/
    padding:35vh 0px;
    /*background:rgb(40, 40, 40);*/
    
    color: rgb(255, 255, 255);
    text-align: center;
}
.header-button{
    display: inline-block;
    margin-top: 80px;
    text-decoration: none;
    background:#ac3b61 ;
    color: white;
    border-radius: 40%;
    padding: 14px 14px;
    transition-property:background;
    
}
.header-button:hover{
    background:#7a2a45 ;
    transition-duration: 200ms;
   
}

.space{
    margin: 20px;
}

.projects{
    
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:rgb(255, 255, 255);

    
}

.project{
    background:rgb(255, 255, 255);
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 20px;
    padding: 20px 40px;

    /*box-shadow: 0px 5px 6px rgb(156, 156, 156);*/
}

.project-header{
    color:rgb(255, 255, 255);
    background:#3b86ac;
    grid-column-start: 1;
    grid-column-end: 3;
}

.project-image{
    text-align: center;
    background: rgb(255, 255, 255);
}
.project-image img{
    border: solid 7px rgb(40, 40, 40);;
    border-radius: 9px;
    box-shadow: 1px 3px 8px rgb(46, 46, 46);
}


.project-desc{
    text-align: left;
    padding-left: 16px;
    color:rgb(40, 40, 40);
}
.project-desc h1{
    color: #ac3b61;
}
.project-desc h3{
    font-size: 1em;
    font-weight: 800;
    /*color: #ac3b61;*/
}
.project-desc p{
    color: rgb(68, 68, 68);
}

.skills{
    margin-bottom: 40px;
    margin-top:50px;
}
.skills a{
    font-size: 0.7em;
    padding: 8px 10px;
    margin-right: 4px;
    background:#cccccc ;
    border-radius: 40%;
}

.button{
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    background:#ac3b61 ;
    color: white;
    border-radius: 40%;
    padding: 14px 14px;
    box-shadow: 0px 0px 5px rgb(95, 95, 95);
    transition-property:box-shadow;
    
}
.button:hover{
    background:#7a2a45 ;
    box-shadow: 0px 0px 0px rgb(97, 97, 97);
    transition-duration: 150ms;
   
}