
body{
    background: rgb(255, 255, 255);
    margin:0;
    padding:0;

    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: 800;
}

p{
    line-height: 150%;
}

li{
    font-weight: 550;
    color: #3B86AC;
    list-style: none;
    margin-left: 30px;
}
li::before{
    font-size: 1.8em;
    content: "\2022";
    color: #3B86AC;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    transform: translateY(0.2em);
}

.icon{
    width:40px;
}

img{
    width: 80%;
}

.header{
    background-image: url('background.jpg');
    background-color: rgba(0, 0, 0, 0.66);
    background-blend-mode: darken;
    padding:37.4vh 0px;
    
    color: rgb(255, 255, 255);
    text-align: center;
}
.header h3{
    color: rgb(255, 255, 255);
}
.header-button{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    background:#ac3b61 ;
    color: white;
    border-radius: 40%;
    padding: 14px 14px;
    transition-property:background;
    
}
.header-button:hover{
    background:#7a2a45 ;
    transition-duration: 200ms;
   
}

.space{
    margin: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:rgb(255, 255, 255);
    padding: 0px 40px;
}

.about{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px 40px;
    text-align: center;
}

.project{
    border-bottom: solid 2px rgba(0, 0, 0, 0.199);
    background:rgb(255, 255, 255);
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 0px;
    padding: 80px 20px;

}

@media only screen and (max-width: 780px){
    .project{
        grid-template-columns: 1fr;
    }
}

.project h1, h3{
    line-height: 40px;
}

.main-header{
    color:rgb(60, 60, 60);
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.main-header h1{
    display: inline-block;
    border-bottom: solid 3px rgb(60, 60, 60);
    margin: 0px;
    margin-top: 20px;
}

.project-left{
    text-align: center;
    background: rgb(255, 255, 255);
}
.project-left img{
    border: solid 7px rgb(40, 40, 40);;
    border-radius: 9px;
    box-shadow: 1px 3px 8px rgb(46, 46, 46);
}
.project-left h1{
    color: #ac3b61;
}
.image{
    
}


.project-desc{
    text-align: left;
    padding-left: 16px;
    color:rgb(40, 40, 40);
}

.project-desc h3{
    font-weight: 800;
    color: rgb(70, 70, 70);
}
.project-desc p{
    color: rgb(68, 68, 68);
}

.project-left h3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 800;
    color: rgb(70, 70, 70);
}
.skills{

    margin-bottom: 40px;
    margin-top:0px;
    margin-left: 30px;
    margin-right: 30px;
}
.skills a{
    margin-bottom: 10px;
    display: inline-block;
    font-size: 0.7em;
    padding: 8px 10px;
    margin-right: 8px;
    background:rgb(219, 219, 219) ;
    border-radius: 40%;
}

.button{
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    text-decoration: none;
    background:#ac3b61 ;
    color: white;
    border-radius: 40%;
    padding: 14px 14px;
    box-shadow: 0px 0px 5px rgb(95, 95, 95);
    transition-property:box-shadow;
    
}
.button:hover{
    background:#7a2a45 ;
    box-shadow: 0px 0px 0px rgb(97, 97, 97);
    transition-duration: 150ms;
   
}