body{
    background: rgb(255, 255, 255);
    margin:0;
    padding:0;

    font-family: Arial, Helvetica, sans-serif;
}

.icon{
    width:40px;
}


.header{
    padding:14%;
    background:rgb(40, 40, 40);
    color: white;
    text-align: center;
}


.container{
    margin: auto;
}

.grid{
    margin: 20px 20px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    background: white;
}

.space{
    margin: 20px;
}

.grid-about{
    color:rgb(40, 40, 40);
    height:100px;
    background: rgb(255, 255, 255);
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-skills-header{
    color:rgb(40, 40, 40);
    background: rgb(255, 255, 255);
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid-skills{
    color:rgb(40, 40, 40);
    height:100px;
    background: rgb(255, 255, 255);
}