
body{
    background: rgb(255, 255, 255);
    margin:0;
    padding:0;

    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: 800;
}

.header-content h1{
  font-size: 44px;
}
.header-content h3{
  font-size: 22px;
}

p{
    line-height: 150%;
}

li{
    font-weight: 550;
    color: #3B86AC;
    list-style: none;
    margin-left: 30px;
}
li::before{
    font-size: 1.8em;
    content: "\2022";
    color: #3B86AC;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    transform: translateY(0.2em);
}

.link{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0px;
}
.link div{
    margin-top: 4px;
}

.icon{
    width:40px;
}
.link:hover{
    filter: brightness(0.6);
    
}

img{
    width: 90%;
}

.mySlides img{
    width:100%;
}

.header{
    background-image: url('background.jpg');
    background-color: rgba(0, 0, 0, 0.66);
    background-blend-mode: darken;
    padding:33.5vh 0px;
    
    color: rgb(255, 255, 255);
    text-align: center;
}
.header h3{
    color: rgb(255, 255, 255);
}
.header-button{
    display: inline-block;
    margin-top: 60px;
    text-decoration: none;
    background:#ac3b61 ;
    color: white;
    border-radius: 40%;
    padding: 14px 14px;
    transition-property:background;
    
}
.header-button:hover{
    background:#7a2a45 ;
    transition-duration: 200ms;
   
}

.space{
    margin: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:rgb(255, 255, 255);
    padding: 0px 4%;
}

.about{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px 40px;
    text-align: center;
}

.project{
    border-bottom: solid 2px rgba(0, 0, 0, 0.171);
    background:rgb(255, 255, 255);
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 30px 0px 40px 0px;
}

.project h1, h3{
    line-height: 4px;
}
.project p{
  margin-bottom: 60px;
}

.main-header{
    color:rgb(60, 60, 60);
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.main-header h1{
    /*display: inline-block;*/
    margin: 0px;
    margin-top: 60px;
    font-size: 40px;
}

.project-left{
    text-align: center;
    background: rgb(255, 255, 255);
}
.project-left img{
  margin-top: 16px;
    border: solid 6px rgb(49, 49, 49);
    border-radius: 3px;
    box-shadow: 1px 3px 8px rgba(46, 46, 46, 0.575);
}
.project-left h1{
    color: #ac3b61;
}


.project-desc{
  margin-top: 10px;
  text-align: left;
  padding-left: 16px;
  color:rgb(40, 40, 40);
}

.project-desc h3{
    font-weight: 800;
    color: rgb(70, 70, 70);
}
.project-desc p{
    color: rgb(68, 68, 68);
}

.project-left h3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 800;
    color: rgb(70, 70, 70);
}
.skills{

    margin-bottom: 10px;
    margin-top:0px;
    margin-left: 30px;
    margin-right: 30px;
}
.skills a{
    margin-bottom: 10px;
    display: inline-block;
    font-size: 0.7em;
    padding: 8px 10px;
    margin-right: 8px;
    background:rgb(219, 219, 219);
    border-radius: 40%;
}

.button{
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    text-decoration: none;
    background:#ac3b61 ;
    color: white;
    border-radius: 40%;
    padding: 14px 14px;
    transition-property:background;
    
}
.button:hover{
    background:#7a2a45 ;
    transition-duration: 150ms;
}





/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    position: relative;
    z-index: 4;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    padding-bottom: 40px;

    padding-left:4%;
    padding-right:4%;

    background: rgb(255, 255, 255);
    color: rgb(70, 70, 70);

  }

  .contact-text{
    padding:0px 20px;
  }


  .contact h2{
      padding-top: 30px;
  }


  .form{
    background: rgb(255, 255, 255);
    padding:0px 20px;
    width: 100%;
    max-width: 600px;
  }
  .form p{
    line-height: 0.9;
  }

  .email{
    display: block;
    padding: 6px;
  }
  input:focus{
    border:none;
    outline: none !important;
  }

  textarea{
    border:solid rgba(128, 128, 128, 0.726) 1px;
    padding: 12px 8px;
    width:100%
  }
  textarea:focus{
    border:1px solid rgb(59, 134, 172);
    outline: none !important;
    box-shadow: 0 0 4px rgb(59, 134, 172);
    transition-duration: 240ms;
}



  input[type=email]{
    border:solid rgba(128, 128, 128, 0.726) 1px;
    border-radius: 2px;
    padding: 12px 8px;
    width:100%
  }
  input[type=email]:focus{
    transition-duration: 240ms;
    border:1px solid rgb(59, 134, 172);
    box-shadow: 0 0 4px rgb(59, 134, 172);
    border-radius: 3px;
    width:100%
  }

  .email-send{
    display: block;
    border: none;
    text-decoration: none;
    background:rgb(59, 134, 172);
    color: white;
    border-radius: 40%;
    padding: 10px 20px;
    margin-left: 8px;
    margin-top: 10px;
    transition-property:background;
  }
  .email-send:hover{
    background:rgb(36, 82, 105);
    transition-duration: 200ms;
   
  }

  .footer-back{
    padding: 10px;
    background: rgb(26, 26, 26);
    text-align: center;
  }
  .footer-back a{
    margin: 10px;
    background: none;
    color: rgb(170, 170, 170);
  }

  .footer-back a:hover{
    margin: 10px;
    background: none;
    color: rgb(255, 255, 255);
  }


  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1400px;
  padding-bottom:70px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-bottom: 40px;
}

/* Next & previous buttons */
.prev, .next {
  background:rgb(168, 168, 168) ;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #2e2e2e;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  /*-webkit-text-stroke-width: 1px;*/
  /*-webkit-text-stroke-color: rgb(34, 34, 34);*/
}

/* Number text (1/3 etc) */
.numbertext {
  color: #1b1b1b;
  font-size: 12px;
  padding: 8px 12px;
  /*position: absolute;
  top: 0;*/
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 920px){
    .project{
        grid-template-columns: 1fr;
    }
    .grid{
        padding: 0px 20px;
    }
    .mySlides {
        margin-bottom: 200px;
    }
    .modal-content {
      padding: 10px;
      width: 96%;
    }
    .mySlides {
      margin-bottom: 70px;
    }
    .contact{
      grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 1400px){
    .grid{
        padding: 0px 14%;
    }
    .contact{
      padding-left:14%;
      padding-right:14%;
    }
}